.grid-container {
    display: grid;
    grid-template-columns: repeat(8, auto);
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 8px;
    text-align: center;
    width: fit-content;
    margin: auto;
}
.grid-container:hover {
    background-color: #f1f1f1;
    transform: scale(1.02);
}

.grid-item {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    /* border: 1px solid #ccc; */
}

.grid-name {
    font-weight: bold;
    font-size: 18px;
    width: 250px;
}

#name {
    float: left;
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px;
}

.data-label {
    font-weight: bold;
    margin: 0px 10px 0px 10px;
}

.data {
    font-size: 16px;
    margin: 0px;
}
